@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f4f1de;
  --primary-color: #002700;
  --secondary-color: #f2cc8f;
  --accent-color: #02af02;
  --text-color: #333333;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 2em;
  height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: var(--primary-color);
  margin: 0 !important;
}

h4,
h5,
h6 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  opacity: 0.5;
  margin: 0 !important;
}
.d-flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}
button {
  background-color: var(--accent-color) !important;
  text-transform: uppercase !important;
  color: var(--text-color) !important;
  font-size: medium;
  margin-block: 2em;
  font-weight: 700 !important;
}

button:hover {
  background-color: var(--accent-color) !important;
  color: var(--bg-color) !important;
}

a {
  text-decoration: none !important;
  color: var(--primary-color) !important;
}
a:hover {
  color: var(--accent-color) !important;
}

.brand {
  width: 50px;
}
